.img-prop {
  padding: 5rem;
}

.img-rescale {
  height: 600px;
  max-width: 800px;
  object-fit: cover;
}

.rightcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.testimonio-sub {
  font-family: Verdana;
  font-size: calc(5px + 2vmin);
  color: white;
  text-align: center;
}
